@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
  min-height: 100vh;
}

#__next {
  height: max-content;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  background-color: #36393e;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: #36393e;
}

body::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #888;
}

.twemoji {
  display: inline;
  cursor: text;
  width: 20px;
  height: 20px;
}

/* input autocomplete */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #1e2124 inset !important;
}

input:-webkit-autofill {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: white !important;
}

#navbar-icon {
  animation: out 1s;
  animation-timing-function: cubic-bezier(1, 0, 0.5, 1);
}

#navbar-icon:hover {
  animation: in 1s;
  animation-timing-function: cubic-bezier(1, 0, 0.5, 1);
}

@-webkit-keyframes in {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes out {
  from {
    -webkit-transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}
