@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
  min-height: 100vh;
}

#__next {
  height: max-content;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  background-color: #36393e;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: #36393e;
}

body::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #888;
}

input[type='text'] {
  line-height: 28px;
}
/* input autocomplete */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #1e2124 inset !important;
}

input:-webkit-autofill {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: white !important;
}
